// experimenting with these colours

$base_white: #ffffff;
$base_black: #141514;

$light_purple_2: #8737c8;
$light_purple_1: #6c2ca0;
$base_purple: #502274;
$dark_purple_1: #37174f;
$dark_purple_2: #1b0b28;

$base_yellow: #ccc43e;
$base_red: #d7263d;
$base_green: #6c969d;

$base_black_20: #14151433;
$base_black_40: #14151466;

$base_card_dropshadow: drop-shadow(0px 5px 5px $base_black_20);
